<div class="d-grid">
  <div class="d-grid my-4">
    <h1 class="mx-auto fw-bold text-white px-3">Service detail</h1>
  </div>
  <div class="mx-auto">
    <div class="d-grid gap-2 text-white px-3">
    <div>
      <label for="", class= "fw-bold fs-5">Name: </label>
      <%= @service.name %>
    </div>
    <div>
      <label for="", class= "fw-bold fs-5">Duration: </label>
      <%= @service.duration %> hrs
    </div>
    <div>
      <label for="", class= "fw-bold fs-5">Price: </label>
      $<%= @service.price %>
    </div>
  </div>
  <div class="d-grid gap-3 col-6 mx-auto pt-4">
    <div class="mx-auto">
      <%= button_to "Go back", services_path, method: :get, class: "btn color-btn rounded-pill text-white fw-bold" %>
    </div>
  </div>
</div>
