<h1 class="mx-auto text-white fw-bold my-2 pb-2 text-center">Manage my licenses</h1>
<div class="bg-container-cards mx-2">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Type of license</th>
        <th scope="col">Number</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody>
      <% @license.map do |lic| %>
        <tr>
          <td>
            <%= lic.name %>
          </td>
          <td>
            <%= lic.number %>
          </td>
          <td>
            <div class="d-flex gap-1">
              <%= link_to "Edit", edit_license_path(lic), class: 'btn btn-sm btn-warning' %>
              <%= button_to "Delete", license_path(lic), method: :delete, class: 'btn btn-sm btn-success' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
