# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored

.ruby-version
Gemfile.lock
/bin/bundle
/bin/bundle.cmd
/bin/rails
/bin/rake
/bin/setup
