<div>
  <h1>Manage Schedule</h1>
  <div>
    <% @schedules.each do |schedule| %>
    <%= button_to "edit", edit_schedule_path(schedule), method: :get %>
      <div>
        <%=schedule.week_day %> <br>
        <%=schedule.opening_time %> <br>
        <%=schedule.closing_time %> <br>
      </div>
    <% end %>
  </div>
</div>