<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create | Edit Turn</title>
  
</head>
<body>
  <div class="back">
    <a href="#"> Back</a>
  </div>

  <div class="container">
    <h2>create | edit turn</h2>

    <form>
      <div class="create">
        <div class="create__form">
          <label for="profession">schedule</label>
        </br>
          <input type="day" class="input" placeholder="day open and close time">
        </div>
        <div class="create__form">
          <label for="user">user</label>
          <br/>
          <input type="text" class="input" placeholder="user role and name">
        </div>
        <button type="button" class="btn">save</button>
      </div>
    </form>
  </div>
</body>
</html>
