<div class="d-grid gap-2 mt-2">
  <p class="m-auto ms-2">
    <%= link_to  "< Back", administrators_path,  class: "black-back-link fw-bold text-decoration-none text-white" %>
  </p>
</div>

<%= render 'profile-one' %>
<%= render 'cards' %>

<div class="d-grid gap-3 col-6 mx-auto pb-4">
  <%= link_to 'ready', appointments_path, method: :get, class: "btn color-btn rounded-pill text-white fw-bold"%>
</div>