@import "bootstrap";
@import "simple_calendar";
@import "desktop_styles";
@import 'daterangepicker';

#main_div {
  height: 100%;
  width: 100%;
}


.color-btn {
  background-color: #5DB075;
}

.color-bcg {
  background-color: #225A43;
}

.color-btn-2 {
  background-color: #0DBA52;
}

.card-bcg {
  background-color: #417951;
}

.title-white {
  color: #ffffff;
  font-weight: 600;
  font-size: 2.2rem;
}

.bg-container-cards {
  background-color: #F5F5F5;
}

.own-radius {
  border-radius: 15px;
}

.card-bcg-panel {
  background-color: rgba(255, 255, 255, 0.15);
}

.grid-container--fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
}

.grid-element {
  background-color: rgba(255, 255, 255, 0.49);
  padding: 20px;
  color: #000;
  border: 1px solid #fff;
}

.green-back-link {
  color: #5DB075;
}

.black-back-link {
  color: #000000;
}

.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.add-manager-icon {
  width: 46px !important;
  height: 46px !important;
}

.add-icon {
  width: 46px !important;
  height: 46px !important;
}

.center-a {
  display: grid;
}

.card-img-profile-card {
  width: 25%;
  height: 25vw;
  object-fit: cover;
}

.add-setting-icon {
  min-width: 12px !important;
  min-height: 12px !important;
}


/*--------------------------------------*/
/*         HOME STYLES                  */
/*--------------------------------------*/

.masthead {
  position: relative;
  overflow: hidden;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

.masthead .masthead-content {
  position: relative;
  max-width: 40rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.masthead .masthead-content h1,
.masthead .masthead-content .h1 {
  font-size: 2.5rem;
}

.masthead .masthead-content p {
  font-size: 1.2rem;
}

.masthead .masthead-content p strong {
  font-weight: 700;
}

.masthead .masthead-content .input-group-newsletter input {
  height: auto;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
}

.masthead .masthead-content .input-group-newsletter button {
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: calc(1rem + 2px);
}

@media (min-width: 992px) {
  .masthead {
    height: 100%;
    width: 75vw;
    min-height: 0;
    padding-bottom: 0;
  }

  .masthead:before {
    transform: skewX(-9deg);
    transform-origin: top right;
  }

  .masthead .masthead-content {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 9rem;
  }

  .masthead .masthead-content h1,
  .masthead .masthead-content .h1 {
    font-size: 3.5rem;
  }

  .masthead .masthead-content p {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .masthead {
    width: 65vw;
    
  }
}

.social-icons {
  position: relative;
  z-index: 2;
}

.social-icons .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 4rem;
  width: 4rem;
  border-radius: 100rem;
}

@media (min-width: 992px) {
  .social-icons {
    position: absolute;
    height: 100%;
    top: 0;
    right: 2.5rem;
    width: auto;
  }
}

.container-fluid {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.btn-dark {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-dark:hover {
  color: #fff;
  background-color: black;
  border-color: black;
}

.btn-dark,
.btn-dark:focus {
  color: #fff;
  background-color: black;
  border-color: black;
  box-shadow: 0 0 0 0.25rem rgba(38, 38, 38, 0.5);
}

.btn-dark,
.btn-dark,
.btn-dark:active,
.btn-dark.active,
.show>.btn-dark.dropdown-toggle {
  color: #fff;
  background-color: black;
  border-color: black;
}

.btn-dark:focus,
.btn-dark:focus,
.btn-dark:active:focus,
.btn-dark.active:focus,
.show>.btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(38, 38, 38, 0.5);
}

.btn-dark:disabled,
.btn-dark.disabled {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

/*--------------------------------------*/
/*         FINISH HOME STYLES           */
/*--------------------------------------*/

// calendar
.calendar-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;

  a {
    text-decoration: none;
    color: #000;
  }
}

td {}

.card-patients-list {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  border: solid 1px #0DBA52;
}

ul {
  background-color: #0DBA52;
}