 @import "bootstrap";

 .color-btn {
   background-color: #5DB075;
 }

 .color-bcg {
   background-color: #225A43;
 }

 .color-btn-2 {
   background-color: #0DBA52;
 }

 .card-bcg {
   background-color: #417951;
 }

 .own-radius {
   border-radius: 15px;
 }

.title-white {
  color: #ffffff;
  font-weight: 600;
  font-size: 2.2rem;
}

.border:hover {
  border: 2px solid rgba(93, 176, 117, 1);
}